@{
    ViewBag.Title = "Sample MVC5.Grid";
}

<h3>@ViewBag.Title</h3>

@Html.AjaxGrid(Url.Action("IndexGrid"))

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var grid = document.querySelector('.mvc-grid');
            new MvcGrid(grid);
           
        });
    </script>
}

