@{
    ViewBag.Title = "Sample MVC5.Grid";
}

<h3>@ViewBag.Title</h3>

@Html.AjaxGrid(Url.Action("IndexGrid"))

@section scripts{
    <script type="text/javascript">
        var JqueryUIDateFilter = (function (base) {
            MvcGridExtends(JqueryUIDateFilter, base);

            function JqueryUIDateFilter(column) {
                base.call(this, column);

                this.methods = ['equals', 'not-equals', 'later-than', 'earlier-than'];
            }

            JqueryUIDateFilter.prototype.bindValues = function () {
                base.prototype.bindValues.call(this);

                var $input = $('.mvc-grid-value', this.popup.element);
                var $div = $input.parent();

                var currDate = $input.val();
                //console.log("currDate", currDate);
                $div.datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    dateFormat: "dd.mm.yy",
                    onSelect: function (dateText, instance) {
                        //console.log("onSelect", dateText);
                        $input.val(dateText);
                        $input[0].dispatchEvent(new Event('input', { bubbles: true }));
                    }
                });
                $div.datepicker('setDate', currDate);
            };

            return JqueryUIDateFilter;
        })(MvcGridFilter);

        $(document).ready(function () {
            MvcGrid.prototype.lang['datepicker'] = MvcGrid.prototype.lang['date'];

            var grid = document.querySelector('.mvc-grid');
            new MvcGrid(grid, {
                filters: { 'date': JqueryUIDateFilter }
            });
        });
    </script>
}

